body
  {background-color:#9999FF;
  }
h1
  {text-align:center;
  }
.display
  {background-color:#CCCCCC;
  padding:10px 10px 10px 10px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  border:1px solid #999999;
  }
#leftOp
  {
  }
#rightOp
  {
  }
#numPanel
  {
  }
.digitBox
  {background-color:#FFFFFF;
  border:1px solid #999999;
  }