body
  {background-color:#9999FF;
  }
h1
  {text-align:center;
  }
.display
  {background-color:#CCCCCC;
  padding:10px 10px 10px 10px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  border:1px solid #999999;
  }
#leftOp
  {
  }
#rightOp
  {
  }
#numPanel
  {
  }
#opPanel
  {width:50%;
  margin-right:auto;
  margin-left:auto;
  }
.digitBox
  {background-color:#FFFFFF;
  border:1px solid #999999;
  padding-top:20px;
  padding-bottom:20px;
  }
.opBox
  {background-color:#FFFFFF;
  border:1px solid #999999;
  padding-top:20px;
  padding-top:20px;
  }
#opDisplay
  {width:40%;
  text-align:center;
  }
#calculate
  {width:33%;
  text-align:center;
  margin-right:auto;
  margin-left:auto;
  padding-top:10px;
  padding-bottom:20px;
  background-color:#996633;
  border:1px solid #999999;
  }
#result
  {width:75%;
  }